body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-button .el-input {
  flex-grow: 1;
  margin-right: 10px; /* 调整按钮和输入框之间的距离 */
}

h1 {
    margin: 0;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container .el-input {
    width: 600px;
}

.container {
    max-width:1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F0F8FF;
}

.input-field {
    margin: 10px 0;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-field {
    margin: 20px 0;
}

.result-field h3 {
    color: #333;
}
